anyio==3.5.0
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
distlib==0.3.4
fastapi==0.75.0
filelock==3.4.1
h11==0.13.0
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
importlib-resources==5.4.0
pipenv==2022.1.8
platformdirs==2.4.0
pydantic==1.9.0
requests==2.27.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.16.0
virtualenv==20.13.3
virtualenv-clone==0.5.7
zipp==3.6.0
